:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;

  --bg-dark: #180026;
  --bg-dark-alt: #20082d;

  --logo-color: #0c9a9a;
  --logo-color-blue: #2aafe2;
  --logo-color-dark: #381136;

  --text-color: var(--darkgray);
  --bg-color: #f8f6f7;

  --nav-bg: #f2f4f6;
  --nav-bg-active: var(--bg-dark);
  --nav-color: var(--text-color);

  --system-serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif; 
  --system-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --system-monospace: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--system-sans);
  color: var(--text-color);
  background-color: var(--bg-color);
  border-right: solid 0.25em var(--navy);
  min-height: 100vh;
}

@media (min-size: 40em) {
  body {
    border-right: solid 1em var(--navy);
  }
}

p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}

p, li {
  font-family: var(--system-serif);
  line-height: 1.5;
}

a[href] {
  color: var(--blue);
}

a[href]:visited {
  color: var(--navy);
}

main {
  padding: 1rem;
  min-height: 100vh;
}
main :first-child {
  margin-top: 0;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

blockquote {
  background: var(--blockquote-bg, #f2f4f6);
  margin: 1em 0;
  padding: 2em 1em 2em 3em;
  box-shadow: 10px 0 10px -4px inset var(--blockquote-shadow, #344556);
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  opacity: 0.7;
}
.postlist-date {
  word-spacing: -0.5px;
  display: inline-block;
}
.postlist-link {
  --underline-color: #90c0e0;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
  text-decoration: none;
  background: linear-gradient(to bottom, transparent 1.3em, var(--underline-color) 1.31em, transparent 1.44em);
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}
.post-draft {
  opacity: 0.4;
}

/* Tags */
.tag {
  display: inline-block;
  font-size: 0.75em;
  padding: 0 4px;
  margin-left: 0.5em;
  opacity: 0.6;
}

.tag:hover {
  transition: border-color .2s;
  border-color: var(--white);
  text-decoration: underline;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}



/**
 * Site header
 */
.site-header {
    display: flex;
    align-items: center;
    padding: 1em;
}
.site-title {
  box-shadow: 1px 1px 1px 1px #043f3f, 2px 2px 6px -2px #1113, 2px 2px 6px -2px #fff, 4px 2px 12px -1px #1112;
    padding: 2em;
    transform: translate(5%, 5%) scale(1.2);
    margin-right: 1rem;
    transition: transform 0.15s ease-in-out;
    transform: skew(-2deg, 1deg);
    backface-visibility: hidden;

}

.site-title:hover:not(:active),
.site-title:focus:not(:active) {
    text-decoration: none;
    background: var(--logo-color-dark);
}

.site-title img {
  transform: skew(1deg, -1deg);
  height: 3rem;
  max-width: 3rem;
  left: 0.5rem;
  top: 1.25rem;
  position: absolute;
  user-select: none;
}

.site-title img + img,
.site-title:hover img + img {
  background: linear-gradient(
    to bottom,
    var(--logo-color) 15%,
    var(--logo-color-blue) 55%,
    var(--logo-color-blue) 65%,
    var(--logo-color-dark) 85%
  );
  background: var(--logo-color);
  mix-blend-mode: soft-light;
  top: 1em;
  left: 0.125em;
  padding: 1.75em 1.75em 2em ;
  border-style: solid;
  border-color: var(--text-color);
  border-width: 1px;
  border-top-width: 2px;
  border-left-width: 2px; 
  border-radius: 1px;
}

.site-nav {
  line-height: 56px;
  margin-left: 2rem;
  background: linear-gradient(to bottom,
    var(--logo-color) 4px,
    var(--nav-bg) 8px
  );
  transform: skew(2deg, -1deg);
  box-shadow: 0 -3px 4px 1px rgba(22, 22, 22, 0.1) inset, 1px 0 3px rgba(0, 0, 0, 0.6);
  border-radius: 1px 1px 1px 3px;
  padding: 0;
  backface-visibility: hidden;
  overflow: hidden;
}

.site-nav .trigger {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.page-link[href] {
  font-weight: bold;
  transform: skew(-2deg, 1deg) scale(1) translateY(0) translateZ(0);
  will-change: transform;
  transition: transform 0.1s ease-out;
  padding: 0 1em;
  color: var(--nav-color);
  text-decoration: none;
  backface-visibility: hidden;
  text-shadow: 0.1px var(--faint);
  overflow: hidden;
}

.site-nav:not(:hover):not(:focus-within) .page-link.active,
.page-link[href]:focus,
.page-link[href]:hover {
  position: relative;
  color: var(--white);
  background: var(--nav-bg-active);

  --bg-1: #4389a2;
  --bg-2: #5c258d;
  background: var(--bg-1);
  background: linear-gradient(to right, var(--bg-1), var(--bg-2) 90%);
  box-shadow:
    2px 0 4px 1px rgba(22, 22, 22, 0.2),
    2px 0 8px rgba(33, 33, 33, 0.5),
    6px 0 8px rgba(33, 33, 33, 0.3),
    0 0 8px rgba(33, 33, 33, 0.1)
    ;
  transition: transform 0.05s linear -0.05s;
  transform: skew(0deg, 1deg) scale(1.15) translate(-4px, -1px);
}

.site-nav:not(:hover):not(:focus-within) .page-link.active::before,
.page-link[href]:focus::before,
.page-link[href]:hover::before {
  --bg-dark: #180026;
  --faint: rgba(24, 0, 38, 0.1);
  --rain-color: var(--faint);

  position: absolute;
  width: 2px;
  height: 10px;
  content: ' ';

  background-color: var(--rain-color);
  box-shadow:
    20px 10px 1px 0.5px var(--rain-color),
    42px -20px 0 0.5px var(--rain-color),
    60px 14px 1px 0.25px var(--rain-color)
    ;
}

.content {
    min-height: 80vh;
    margin: 1em 2em 0 1em;
    position: relative;
    max-width: 800px;
    transition: all 0.2s;
}

#content {
  min-height: calc(100vh - 13em);
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    flex: 1;
    min-height: calc(100vh - 90px);
}

.page-heading {
    font-size: 20px;
}

.post-link {
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.pull-img-right {
    @media (min-width: 600px) {
        position: absolute;
        right: 0;
        transform: translateX(100%);
        // TODO: $content-width and $left-margin
        width: calc(100vw - 600px - 8em);
        max-width: 800px;
    }
}

.project-image {
    flex: 1 0 auto;
    width: calc(100% + 2rem);
    box-shadow: 0 2px 6px -1px rgba(22, 22, 22, 0.4);
    margin: 0 calc(-1rem) 1rem;
    transition: box-shadow 0.1s linear;
}
.project:hover .project-image {
  box-shadow: 0 0 4px -2px var(--navy);
}
.project:hover a[href],
.project:hover a:visited {
  color: var(--logo-color-blue) !important;
}

@media (min-width: 40em) {
  .projects {
    max-width: 60rem;
    margin: 0 auto 0 4rem;
  }
    .project {
        display: flex;
        margin: 0 auto;
        max-width: 40rem;
    }

    .project:nth-child(even) {
      flex-direction: row-reverse;
      text-align: right;
      margin-left: -2rem;
    }

    .project:nth-child(even) .project-image {
      margin-right: 0;
      margin-left: 2rem;
    }


    .project-image {
        max-width: 16em;
        margin-right: 2rem;
        transition: transform 0.1s ease-out;
    }
}

@media (min-width: 72rem) {
  .projects {
    margin-left: 6rem;
    padding-top: 8rem;
  }

    .project {
      padding: 2rem;
    }

    .project {
      box-shadow: 0 2px 5px rgba(11, 11, 11, 0.1);
    }

    .project .project-image {
      --x-slide: -25%;
      animation: scale-up-n-slide .5s forwards;
    }

    .project:nth-child(even) .project-image {
      --x-slide: 25%;
      animation-delay: 0.1s;
    }
}

@keyframes scale-up-n-slide {
  0% {
    transform: scale(1) translate(0);
  }
  50% {
    transform: scale(0.95) translateX(calc(var(--x-slide) / 5.718281828)) translateY(-8%);
  }
  100% {
      transform: scale(1.5) translateX(var(--x-slide)) translateY(-25%);
  }
}

.mw-40rem {
  max-width: 40rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mr-2 {
    margin-right: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

.d-flex {
  display: flex;
}
/**
 * Site footer
 */

.site-footer h3 {
  color: #ddd;
}

 .site-footer a[href] {
  margin-right: 1em;
  font-weight: bold;
  display: inline-block;
  color: #ddd;
 }

.site-footer {
  min-height: 4rem;
  width: 100%;
  background: var(--navy);
  border-top: 8px solid #eee;
  padding: 1rem;
  padding-bottom: 2rem;
  position: relative;
}

@media (min-width: 40em) {
  main,
  .site-header,
  .site-footer  {
    padding: 2rem;
    padding-bottom: 4rem;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #e2d0e2;
    --bg-color: var(--bg-dark);
    
    --blockquote-bg: #344556;
    --blockquote-shadow: #222334;

    --nav-bg: var(--logo-color-dark);
    --nav-color: var(--white);
  }

  a[href] {
    color: #59e8e8;
  }

  a[href]:visited {
    color: #eee;
  }

  a:hover {
    color: #69e8e8;
  }

  code {
    background-color: #334;
    border-color: #334;
  }

  .post-meta {
    color: #bbb;
  }
}
