---
layout: default
permalink: /posts/
---

<h1>Archive</h1>

<p><strong>Note:</strong> If you are after just tech topics, I post those to the <a href="https://www.duud.com/blog/">duud blog</a>.</p>
<p>Topics here will vary wildly; expect a mix of boring life updates, random facts, and <strike>occasional</strike> regular rage-posts.</p>


{% set postslist = collections.posts %}
{% include "postslist.njk" %}

