<footer class="site-footer">

  <div class="wrapper">

    <h3 class="footer-heading">Other places</h3>

    <ul class="footer-col-wrapper">
      <li class="footer-col">
        <label>GitHub</label>
        {% include icon-github.html username=site.github_username %}
      </li>

      <li class="footer-col">
        <label>Twitter</label>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>

      <li class="footer-col">
        <label>Email</label>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </li>
    </ul>

  </div>

</footer>
