<footer class="site-footer">
    <div id="contact">
      <h3>Contact</h3>
      <ul class="footer-col-wrapper">
        <li>
          <a href="#" title="domain name at gmail">
            <svg class="icon" viewBox="0 0 18 18">
               <use xlink:href="/img/email.svg#email"></use>
            </svg>
            <span>Email</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/psimyn">
            <svg class="icon" viewBox="0 0 18 18">
              <use xlink:href="/img/twitter.svg#twitter"></use>
            </svg>
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/psimyn">
            <svg class="icon" viewBox="0 0 18 18">
               <use xlink:href="/img/github.svg#github"></use>
            </svg>
            <span>GitHub</span>
          </a>
        </li>
      </ul>
    </div>

</footer>
