/**
 * Site header
 */
.site-header {
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    transform: rotate(5deg);

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    background: rgb(240, 166, 61);
    border-radius: 25% 0;

    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    position: absolute;
    top: 2rem;
    left: 2rem;

    @media (min-width: 600px) {
        top: 4rem;
        left: 4rem;
    }

    z-index: 1;
    box-shadow: -3px -2px 4px -2px #333333aa;

    img {
        height: 3rem;
        max-width: 3rem;
    }

    &,
    &:visited {
        color: $grey-color-dark;
    }

    &:hover {
        text-decoration: none;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    margin-right: 2rem;

    max-width: 60%;

    transform: rotate(-2deg);

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}


  .node:before,
  .node:after {
    color: $grey-color-light;
  }

  .node:before {
    content: "<" attr(data-tag) ">";
  }

  .node:after {
    content: "</" attr(data-tag-close) ">";
  }

  .comment {
    color: $grey-color;
    font-size: 0.6em;
    display: block;
    margin-left: 1em;
  }

  .comment:before {
    content: '<!--';
  }

  .comment:after {
    content: '-->';
  }

#content {
  min-height: calc(100vh - 13em);
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    flex: 1;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
