/**
 * Site footer
 */

 #contact {
   padding: 1em calc(50% - 360px) 0;
   box-shadow: 0 -2px 2px -1px rgba(150, 150, 150, 0.1);
 }

 #contact:target {
   opacity: 1;
   transition: opacity 0.2s;
 }

 #contact ul {
   display: flex;
   justify-content: space-around;
   font-size: 1em;
 }

 #contact li span {
   opacity: 0;
   letter-spacing: -1em;
   transition: letter-spacing 0.2s ease, opacity 0.1s linear;
 }

 #contact li a {
   white-space: nowrap;
 }

 #contact a:hover {
   background-position-y: 1em;
 }

 #contact a span {
   margin-left: -2em;

 }

 #contact a:hover span,
 #contact a:focus span {
   opacity: 1;
   letter-spacing: 0;
   transition: letter-spacing 0.1s ease, opacity 0.2s linear;
 }

 #contact a svg {
   transition: opacity 0.3s;
 }

 #contact a:hover svg,
 #contact a:focus svg {
   fill: $brand-color;
   transform: translate(-2em);
   transition: transform 0.2s ease 0.05s, opacity 0.3s;
 }

 #contact a:active svg {
   transform: translate(6em, calc(1px - 1em)) rotate(-315deg);
   opacity: 0;
 }

 .icon {
   width: 2em;
   height: 2em;
 }

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    list-style: none;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    width: 33%;
}

.footer-col label {
  display: block;
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}
