<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#07b9b7">
    <meta name="theme-color" content="#07b9b7">
  </head>

  <body>
    <header class="site-header">

      <a class="site-title" href="{{ '/' | url }}">
        <img src="{{ '/favicons/psimyn-grayscale.svg' | url }}" title="home">
        <img src="{{ '/favicons/psimyn-grayscale.svg' | url }}" role="presentation">
      </a>

      <nav class="site-nav">
        <div class="trigger">
          <a class="page-link {% if title == 'Projects' %}active{% endif %}" href="/">Projects</a>
          <a class="page-link {% if title == 'Talks' %}active{% endif %}" href="/talks">Talks</a>
          <a class="page-link {% if title == 'Links' %}active{% endif %}" href="/links">Links</a>
          <a class="page-link {% if title == 'About' %}active{% endif %}" href="/about">About</a>
        </div>
      </nav>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer class="site-footer">
      <h3>Contact</h3>
      <a href="mailto:psimyn@gmail.com" title="domain name at gmail.com">
        <span>Email</span>
      </a>
      <a href="https://twitter.com/psimyn">
        <span>Twitter</span>
      </a>
      <h3>Other places I spend time</h3>
      <a href="https://gitlab.com/psimyn">
        <span>GitLab</span>
      </a>
      <a href="https://github.com/psimyn">
        <span>GitHub</span>
      </a>
      <a href="https://glitch.com/@psimyn">
        <span>Glitch</span>
      </a>
      <a href="https://codepen.io/psimyn">
        <span>Codepen</span>
      </a>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
