---
layout: layouts/base.njk
templateClass: tmpl-home
---
{{ content | safe }}
<style>
h3:target {
  box-shadow: 0 0 4px 1px yellow, 0 0 4px 1px yellow, 0 0 8px 1px yellow, 0 0 14px 1px yellow, 0 0 24px 1px yellow;
  display: inline-block;
}
</style>
